body {
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 50px;
}

#guess-input {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 18px;
  width: 250px;
  border: 1px solid #ccc;
}

#mensaje {
  margin-top: 10px;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

#guess-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #0CBABA;
  color: #fff;
  border: none;
  border-radius: 3px;
}

button:active {
  transform: scale(0.95);
}

.letter {
  border: 1px solid transparent;
  padding: 15px;
  margin: 3px;
  min-width: 20px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
}

.row {
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.verde {
  background-color: #79b851;
}

.amarillo {
  background-color: #f3c237;
}

.gris {
  background-color: #a4aec4;
}

