
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.input-area {
  margin: 30px;
  text-align: center;
}

#guess-input {
  display: block;
  margin: 0 auto 20px;
  padding: 10px;
  font-size: 18px;
  width: 250px;
  border: 1px solid #ccc;
}

#guess-button, #restart-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  margin-right: 10px; 
}

#guess-button {
  background-color: #0CBABA;
  color: #fff;
}

#guess-button:hover {
  background-color: #099494;
}

#restart-button {
  background-color: #F44336;
  color: #fff;
}

#restart-button:hover {
  background-color: #D32F2F;
}

.letter {
  border: 1px solid black;
  padding: 3px;
  margin: 3px;
  min-width: 20px;
  text-align: center;
  display: inline-block;
}

.row {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

/* Agrega estilos para el mensaje de error */
#mensaje-error {
  color: #F44336; 
  margin-top: 5px;
  text-align: center;
  display: none; 
}

/* Agrega estilos para el mensaje de victoria/perder */
#mensaje {
  text-align: center;
  margin-top: 20px;
}

/* Estilos para colores en el juego */
.verde {
  background-color: #79b851; 
}

.amarillo {
  background-color: #f3c237; 
}

.gris {
  background-color: #a4aec4; 
}
